@model List<BlogListModel>


<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Blog List</h1>
    <p class="mb-4">
        <a asp-action="Create" asp-controller="Blog" asp-area="Admin" class="btn btn-primary btn-icon-split btn-lg">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Add Blog</span>
        </a>
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Blog Datas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Posted Time</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Posted Time</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var blog in Model)
                        {
                            <tr>
                                <td>@blog.Title</td>
                                <td>@blog.ShortDescription</td>
                                <td>@blog.PostedTime.ToShortDateString()</td>
                                <td> 
                                    <a asp-action="Update" asp-route-id="@blog.Id" class="btn btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="far fa-edit"></i>
                                        </span>
                                        <span class="text">Edit</span>
                                    </a> 
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@blog.Id" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                        <span class="text">Delete</span>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>